<div class="post">
  <h1 class="post__title">Angular Universal</h1>
  <img src="https://pixabay.com/images/id-1682903/">
  <h2 class="post__sub-title"></h2>
  <ol class="post__list">
    <li>
      <p>
        It is node based render engine to use ssr or prerender
      </p>
    </li>

    <li>
      <p>
        We use ssr for busting performance, seo optimization, for social media crawlers
      </p>
    </li>

    <li>
      <p>
        Prerender - build time, ssr - run time
      </p>
    </li>

    <li>
      <p>
       We cannot prerender dynamic routes. One of the downsides
        to static rendering is that individual HTML files must be generated for every possible URL.
        Prerendering improves the First Paint or First Contentful Paint of a Single Page Application
        that must be booted on the client in order for pages to be truly interactive.

      </p>
    </li>

    <li>
      <p>
        Title inside head tag is very important for seo and within angular 14 we can add title to each route
      </p>
    </li>

    <li>
      <p>
        Shall architecture - we prerender or use ssr for small spinner or skeleton to show the
        user out page is working till main js bundle is loaded and frond end is in charge of the app
      </p>
    </li>

    <li>
      <p>
        SSR does not improve TTI time (time to be interactive), but improve FCP and FP
      </p>
    </li>

    <li>
      <p>
        Use Angular features (title, a11y sdk)
      </p>
    </li>

    <li>
      <p>
        Test your site with keyboard, lighthouse, screen reader (NVDA, JAWS, Voice Over), etc
      </p>
    </li>
  </ol>
</div>

