<div class="post">
  <h1 class="post__title">Accessibility</h1>
  <img src="https://pixabay.com/images/id-1682903/">
  <h2 class="post__sub-title"></h2>
  <ol class="post__list">
    <li>
      <p>
        Semantic HTML
      </p>
    </li>

    <li>
      <p>
        Content importat img should have alt attribute
      </p>
    </li>

    <li>
      <p>
        Create logical structure (header > main > nav > h1 > h2 > section > footer, etc)
      </p>
    </li>

    <li>
      <p>
        Add aria attributes to interactive element, that does not have a text
      </p>
    </li>

    <li>
      <p>
        Make your site keyboard friendly
      </p>
    </li>

    <li>
      <p>
        Make sure your site meets color contrast requirements
      </p>
    </li>

    <li>
      <p>
        Read Web Content Accessibility Guidelines (WCAG)
      </p>
    </li>

    <li>
      <p>
        Use Angular features (title, a11y sdk)
      </p>
    </li>

    <li>
      <p>
        Test your site with keyboard, lighthouse, screen reader (NVDA, JAWS, Voice Over), etc
      </p>
    </li>
  </ol>
</div>

