<div class="post">
  <h1 class="post__title">Agile</h1>
  <img src="https://pixabay.com/images/id-1682903/">
  <h2 class="post__sub-title"></h2>
  <ol class="post__list">
    <li>
      <p>
        Agile manifesto - people is more important,
        working app is better, communications is beter than contracts, flexibility is better than a plan
      </p>
    </li>

    <li>
      <p>
        Scram and Kanban are ways to do Agile
      </p>
    </li>

    <li>
      <p>
        Scram has daily meetings, sprints, sprint review, print refinement, retrospective meetings, story points, etc
      </p>
    </li>

    <li>
      <p>
        Kanbas is agile with board. We have to do, in progress and done columns
      </p>
    </li>

    <li>
      <p>
        Kanban. Work is pulled, rather than assigned in scrum

      </p>
    </li>

    <li>
      <p>
        In kanban we have WIP strict work in progress limits
      </p>
    </li>

    <li>
      <p>
        In kanban there is no specific role
      </p>
    </li>

    <li>
      <p>
        In kanban there we use continuous flow

      </p>
    </li>
  </ol>
</div>

