<div class="post">
  <h1 class="post__title">HTTP</h1>
  <h2 class="post__sub-title"></h2>
  <ol class="post__list">
    <li>
      <p>
         Cache-Control: private/public, no-store/no-cache, max-age, ETag
      </p>
    </li>

    <li>
      <p>
        HTTP compression: file compression, server compression using br or gzip
      </p>
    </li>

    <li>
      <p>
        HTTP redirect
      </p>
    </li>

    <li>
      <p>
       TCP is session protocol when we need all data. UPD is session protocol when data loss is not so important, like video or music streaming
      </p>
    </li>

    <li>
      <p>
       SSL/TLC
      </p>
    </li>

        <li>
      <p>
       HTTP 1.0 / 2.0 has multiple parallel requests and one tcp connection/ 3.0 has multiple tcp connections and parallel requests
      </p>
    </li>
  </ol>
</div>

