<div class="post">
  <h1 class="post__title">Testing</h1>
  <h2 class="post__sub-title"></h2>
  <ol class="post__list">
    <li>
      <p>
        Discussed frameworks Jest, Jasmine, Mocha for unit testing
      </p>
    </li>

    <li>
      <p>
        Discussed frameworks Cypress, Selenium for e2e, integration testing
      </p>
    </li>

    <li>
      <p>
        Jest is faster(because can run tests in parallel and does not open in browser, so there is no html needed )
        and we get it out of the box with create-react-app. jasmine
        is out of the box with angular cli
      </p>
    </li>

    <li>
      <p>
        Discussed Page Data Model, AAA pattern, chai and Mocha syntax
      </p>
    </li>
  </ol>
</div>
