.home {
  height: 100%;

  &__side-bar {
    background-color: #181818;
  }

  &__main-content {
    background-color: #151515;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 100px auto;
  text-align: center;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform:translate(-50%, -50%) scale(8);
}

.hover-this {
  :hover {
    body #magicMouseCursor {
      border: none !important;
    }
  }
}
