<div class="home">
  <div class="home__side-bar" mode="side" opened>
    <side-bar></side-bar>
  </div>
  <div class="home__main-content">
    <div class="text" *ngIf="isHome">
        <app-link class="hover-this" appAnimateit [value]="'HI'"></app-link>
      <br>
        <app-link class="hover-this" appAnimateit [value]="'I'"></app-link>
        <app-link class="hover-this" appAnimateit [value]="'AM'"></app-link>
        <app-link class="hover-this" appAnimateit [value]="'EUGENE'"></app-link>
      <br>
        <app-link class="hover-this" appAnimateit [value]="'WEB'"></app-link>
        <app-link class="hover-this" appAnimateit [value]="'DEVELOPER'"></app-link>
      <div class="cursor" appMousemove data-cy="Home-Cursor-Div"></div>
    </div>
    <div *ngIf="!isHome" class="cursor" appMousemove></div>
    <router-outlet></router-outlet>
  </div>
</div>
