<div class="navigation">
  <a [routerLink]="['/about']" class="navigation__link magic-hover magic-hover__square" >About</a>
  <a [routerLink]="['/my-skills']" class="navigation__link magic-hover magic-hover__square">My Skills</a>
  <a [routerLink]="['/work']" class="navigation__link magic-hover magic-hover__square">Work</a>
  <a [routerLink]="['/contact']" class="navigation__link magic-hover magic-hover__square">Contact</a>
  <a [routerLink]="['/blog']" class="navigation__link magic-hover magic-hover__square">Blog</a>
</div>
