.navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #af9e9e;
  }

  &__link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
