<nav>
  <ul class="navigation">
    <li class="navigation__item magic-hover magic-hover__square">
      <a class="navigation__link" [routerLink]="['/about']">About</a>
    </li>
    <li class="navigation__item magic-hover magic-hover__square">
      <a class="navigation__link" [routerLink]="['/my-skills']">My Skills</a>
    </li>
    <li class="navigation__item magic-hover magic-hover__square">
      <a class="navigation__link" [routerLink]="['/work']">Work</a>
    </li>
    <li class="navigation__item magic-hover magic-hover__square">
      <a class="navigation__link" [routerLink]="['/contact']">Contact</a>
    </li>
    <li class="navigation__item magic-hover magic-hover__square">
      <a class="navigation__link" [routerLink]="['/blog']">Blog</a>
    </li>
  </ul>
</nav>
