<div class="post">
  <h1 class="post__title">PWA</h1>
  <h2 class="post__sub-title"></h2>
  <ol class="post__list">
    <li>
      <p>
        the goal is to create downloaded application than is no longer a website
      </p>
    </li>

    <li>
      <p>
        ng add pwa will do it
      </p>
    </li>

    <li>
      <p>
        manifesto file is responsible for installation
      </p>
    </li>

    <li>
      <p>
        pwa is working thanks to service worker
      </p>
    </li>

    <li>
      <p>
        the main service worker problem is creating appropriate cashing strategy and versioning of service workers
      </p>
    </li>

    <li>
      <p>
        PWA is offline mode also
      </p>
    </li>
  </ol>
</div>

